# Project file
ex04/replace
ex04/*.replace
ex06/karenFilter

# Dev
ans

# General
.DS_Store

# Editor
.vscode

# Prerequisites
*.d

# Object files
*.o

# Libraries
*.dylib
*.lib
*.a

# Executables
*.exe
*.out

# Debug files
*.dSYM/
*.su
*.idb
*.pdb
